<div class="container">
    <div class="slider mt-5 wow animate__fadeInDown">
        <div class="position-relative d-flex align-items-center ">
            <div class="carousel-info position-absolute p-5 d-flex flex-column gap-5 ms-4">
                <h2 class="carousel-title h2">Скидки на травянные чаи</h2>
                <div class="carousel-desc">Узнай все подробности, заполнив заявку</div>
            </div>
            <img class="w-100" src="/images/card-image-1.png" alt="First image">
        </div>
    </div>

    <section class="qa">
        <h2 class="h2 text-center mt-5 mb-4">Ответы на часто задаваемые вопросы</h2>
        <div class="container-sm">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item mb-4">
                    <h3 class="accordion-header" id="headingOne">
                        <button
                            class="accordion-button collapsed rounded bg-primary text-light fw-bold border border-0 p-4"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            Собираете ли вы подарочные боксы?
                        </button>
                    </h3>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordion">
                        <div class="accordion-body border border-0">
                            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
                            стоимость!
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-4">
                    <h3 class="accordion-header" id="headingTwo">
                        <button
                            class="accordion-button collapsed rounded bg-primary text-light fw-bold border border-0 p-4"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Сколько у вас разновидностей чая?
                        </button>
                    </h3>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordion">
                        <div class="accordion-body">
                            У нас представлены 6 основных сортов чая: зеленый, белый, желтый, улун, черный и пуэр. Они
                            различаются по
                            степени ферментации — то есть насколько сильно окислилось сырье перед сушкой.
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-4">
                    <h2 class="accordion-header" id="headingThree">
                        <button
                            class="accordion-button collapsed rounded bg-primary text-light fw-bold border border-0 p-4"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            В какой срок осуществляется доставка?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordion">
                        <div class="accordion-body">
                            В течение 10 рабочих дней с момента получения Вашего заказа.
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-4">
                    <h2 class="accordion-header" id="headingFour">
                        <button
                            class="accordion-button collapsed rounded bg-primary text-light fw-bold border border-0 p-4"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                            aria-controls="collapseFour">
                            У вас обновляется ассортимент?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordion">
                        <div class="accordion-body">
                            Конечно! Обновление ассортимента осуществляется несколько раз в месяц по мере появления
                            свежих
                            сортов.
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-4">
                    <h2 class="accordion-header" id="headingFive">
                        <button
                            class="accordion-button collapsed rounded bg-primary text-light fw-bold border border-0 p-4"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                            aria-controls="collapseFive">
                            Какого объема у вас пачки чая?
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordion">
                        <div class="accordion-body">
                            Есть несколько размерных категорий: маленькие – 100гр., средние — 250гр., большие — от
                            500гр. до
                            1кг.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>   
</div>

<!-- <ngbd-accordion-basic></ngbd-accordion-basic> -->

<app-modal *ngIf="showModal" (closeEvent)="handeCloseEvent()"></app-modal>


