<div class="container">
    <div class="slider mt-5 wow animate__fadeInDown">
        <div class="position-relative d-flex align-items-center ">
            <div class="carousel-info position-absolute p-5 d-flex flex-column gap-5 ms-4">
                <h2 class="carousel-title h2">Скидки на травянные чаи</h2>
                <div class="carousel-desc">Узнай все подробности, заполнив заявку</div>
            </div>
            <img class="w-100" src="../images/card-image-1.png" alt="First image">
        </div>
    </div>

    <section class="qa">
        <h2 class="h2 text-center mt-5 mb-4">Ответы на часто задаваемые вопросы</h2>
        <div class="container-sm">
            <app-accordion></app-accordion>
        </div>
    </section>
</div>



<app-modal *ngIf="showModal" (closeEvent)="handeCloseEvent()"></app-modal>