<div class="container">
    <div class="slider mt-5 wow animate__fadeInDown">
        <div class="position-relative d-flex align-items-center ">
            <div class="carousel-info position-absolute p-5 d-flex flex-column gap-5 ms-4">
                <h2 class="carousel-title h2">Скидки на травянные чаи</h2>
                <div class="carousel-desc">Узнай все подробности, заполнив заявку</div>
            </div>
            <img class="w-100" src="../../../../assets/images/card-image-1.png" alt="First image">
        </div>
    </div>

    <section class="qa">
        <h2 class="h2 text-center mt-5 mb-4">Ответы на часто задаваемые вопросы</h2>
        <div class="container-sm">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Собираете ли вы подарочные боксы?">
                    <ng-template ngbPanelContent>
                        Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
                        стоимость!
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Сколько у вас разновидностей чая?">
                    <ng-template ngbPanelContent>
                        У нас представлены 6 основных сортов чая: зеленый, белый, желтый, улун, черный и пуэр. Они
                        различаются по
                        степени ферментации — то есть насколько сильно окислилось сырье перед сушкой.
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="В какой срок осуществляется доставка?">
                    <ng-template ngbPanelContent>
                        В течение 10 рабочих дней с момента получения Вашего заказа.
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="У вас обновляется ассортимент?">
                    <ng-template ngbPanelContent>
                        Конечно! Обновление ассортимента осуществляется несколько раз в месяц по мере появления свежих
                        сортов.
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Какого объема у вас пачки чая?">
                    <ng-template ngbPanelContent>
                        Есть несколько размерных категорий: маленькие – 100гр., средние — 250гр., большие — от
                        500гр. до
                        1кг.
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </section>
</div>


<app-modal *ngIf="showModal" (closeEvent)="handeCloseEvent()"></app-modal>