<section class="form mb-5">
    <div class="container wow animate__zoomIn ">
        <h2 class="order-title h2 text-center mt-5 mb-4">Сделать заказ</h2>
        <form [formGroup]="formValidation" class="order-form mx-auto" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="mb-3 col">
                    <label for="exampleInputProductName" class="form-label">Товар</label>
                    <input type="text" [value]="product.title" class=" form-control" id="exampleInputProductName"
                        aria-describedby="emailHelp" disabled>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col">
                    <label for="exampleInputProductComment" class="form-label">Комментарий к заказу</label>
                    <input formControlName="description" type="text" class=" form-control"
                        id="exampleInputProductComment" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col">
                    <label for="exampleInputName" class="form-label">Имя</label>
                    <input formControlName="customerName" type="text" class="form-control form-name "
                        id="exampleInputName" aria-describedby="emailHelp">
                    <span *ngIf="!formValidation.get('customerName')?.valid && formValidation.get('customerName')?.touched"
                     class="not-valid-block">Введите корректное имя</span>
                </div>

                <div class="mb-3 col">
                    <label for="exampleInputLastName" class="form-label">Фамилия</label>
                    <input formControlName="customerLastName" type="text" class="surname form-control"
                        id="exampleInputLastName" aria-describedby="emailHelp">
                        <span *ngIf="!formValidation.get('customerLastName')?.valid && formValidation.get('customerLastName')?.touched"
                     class="not-valid-block">Введите корректную фамилию</span>
                </div>
                <div class="mb-3 col">
                    <label for="exampleInputPhone" class="form-label">Телефон</label>
                    <input formControlName="phone" type="tel" class="phone-number form-control" id="exampleInputPhone"
                        aria-describedby="emailHelp">
                        <span *ngIf="!formValidation.get('phone')?.valid && formValidation.get('phone')?.touched"
                     class="not-valid-block">Введите корректный номер</span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col">
                    <label for="exampleInputAdress" class="form-label">Адрес</label>
                    <input formControlName="ardess" type="text" class="state form-control" id="exampleInputAdress"
                        aria-describedby="emailHelp">
                        <span *ngIf="!formValidation.get('ardess')?.valid && formValidation.get('ardess')?.touched"
                        class="not-valid-block">Введите корректный адрес</span>
                </div>
                <div class="mb-3 col">
                    <label for="exampleInputCPostCode" class="form-label">Индекс</label>
                    <input formControlName="postCode" type="text" class="form-control postcode" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                        <span *ngIf="!formValidation.get('postCode')?.valid && formValidation.get('postCode')?.touched"
                     class="not-valid-block">Индекс может содержать только цифры</span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input formControlName="email" type="email" class="email form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                        <span *ngIf="!formValidation.get('email')?.valid && formValidation.get('email')?.touched"
                     class="not-valid-block">Введите корректный email</span>
                </div>
            </div>
            <button
            [disabled]="!formValidation.valid"
            type="submit" class="submitBtn btn btn-primary ps-5 pe-5">Отправить</button>
        </form>
    </div>
</section>

<app-modal *ngIf="showModal" (closeEvent)="handeCloseEvent()"></app-modal>